0 在 O
1 Meresti O
2 的 O
3 村庄 O
4 （ O
5 Harghita O
6 县 O
7 ） O
8 村 O
9 附近 O
10 放牧 O
11 的 O
12 一头 O
13 母牛 O
14 被 O
15 一只 O
16 患有 O
17 狂犬病 O
18 的 O
19 狐狸 O
20 咬伤 O
21 。 O

0 结果 O
1 ， O
2 母牛 O
3 也 O
4 被 O
5 感染 O
6 了 O
7 。 O

0 这是 O
1 第一个 O
2 这样 O
3 的 O
4 案例 O
5 ， O
6 也 O
7 是 O
8 自 O
9 1999 O
10 年 O
11 以来 O
12 的 O
13 第三个 O
14 案例 O
15 。 O

0 症状 O
1 在 O
2 几天 O
3 内 O
4 出现 O
5 。 O

0 主人 S-AGENT
1 认为 S-DSE-*
2 他 B-TARGET
3 的 M-TARGET
4 牲畜 E-TARGET
5 正在 O
6 遭受 O
7 某种 O
8 中毒 O
9 症状 O
10 ， O
11 兽医 O
12 也 O
13 确认 O
14 了 O
15 这 O
16 一点 O
17 ， O
18 并且 O
19 还要 O
20 检查 O
21 这 O
22 头牛 O
23 。 O

0 主人 O
1 认为 O
2 他 O
3 的 O
4 牲畜 O
5 正在 O
6 遭受 O
7 某种 O
8 中毒 O
9 症状 O
10 ， O
11 兽医 O
12 也 O
13 确认 O
14 了 O
15 这 O
16 一点 O
17 ， O
18 并且 O
19 还要 O
20 检查 O
21 这 O
22 头牛 O
23 。 O

0 然而 O
1 ， O
2 很快 O
3 ， O
4 症状 O
5 表明 O
6 它 O
7 患有 O
8 狂犬病 O
9 ： O
10 它 O
11 的 O
12 头 O
13 撞 O
14 在 O
15 饲料 O
16 槽 O
17 上 O
18 ， O
19 它 O
20 非常 O
21 不安 O
22 。 O

0 主人 O
1 杀死 O
2 了 O
3 动物 O
4 ， O
5 虽然 O
6 兽医 S-AGENT
7 禁止 S-DSE-*
8 他 B-TARGET
9 这样 M-TARGET
10 做 E-TARGET
11 。 O

0 主人 O
1 杀死 O
2 了 O
3 动物 O
4 ， O
5 虽然 O
6 兽医 O
7 禁止 O
8 他 O
9 这样 O
10 做 O
11 。 O

0 后者 O
1 将 O
2 牛头 O
3 带到 O
4 实验室 O
5 ， O
6 并 O
7 在 O
8 那里 O
9 他们 O
10 发现 O
11 它 O
12 患有 O
13 狂犬病 O
14 。 O

0 牲畜 O
1 的 O
2 主人 O
3 和 O
4 帮助 O
5 他 O
6 杀死 O
7 动物 O
8 的 O
9 邻居们 O
10 被 O
11 紧急 O
12 送往 O
13 Miercurea O
14 Ciuc O
15 的 O
16 传染病 O
17 医院 O
18 ， O
19 在 O
20 那里 O
21 他们 O
22 接受 O
23 了 O
24 预防性 O
25 抗 O
26 狂犬病 O
27 治疗 O
28 。 O

0 母牛 O
1 的 O
2 尸体 O
3 被 O
4 烧毁 O
5 并 O
6 埋葬 O
7 ， O
8 马厩 O
9 被 O
10 消毒 O
11 。 O

0 Harghita O
1 县 O
2 卫生 O
3 和 O
4 兽医局 O
5 开展 O
6 了 O
7 一项 O
8 抗 O
9 狂犬病 O
10 运动 O
11 ， O
12 他们 O
13 将 O
14 在 O
15 22 O
16 个 O
17 地方 O
18 为 O
19 7 O
20 万多 O
21 头牛 O
22 ， O
23 马 O
24 ， O
25 羊 O
26 和 O
27 猪 O
28 接种 O
29 疫苗 O
30 。 O

0 7 O
1 月 O
2 6 O
3 日 O
4 ， O
5 加图 O
6 那 O
7 ， O
8 卢旺达 O
9 （ O
10 法新社 O
11 ） O
12 卢旺达 O
13 总统 O
14 保罗 O
15 卡加 O
16 梅 O
17 和 O
18 乌干达 O
19 总统 O
20 约 O
21 韦里 O
22 穆塞韦尼 O
23 星期五 O
24 在 O
25 这里 O
26 开始 O
27 会谈 O
28 ， O
29 试图 O
30 弥补 O
31 他们 B-DSE-*
32 邻国 M-DSE
33 之间 E-DSE
34 的 O
35 恶化 B-TARGET
36 的 M-TARGET
37 关系 E-TARGET
38 。 O

0 7 O
1 月 O
2 6 O
3 日 O
4 ， O
5 加图 O
6 那 O
7 ， O
8 卢旺达 O
9 （ O
10 法新社 O
11 ） O
12 卢旺达 O
13 总统 O
14 保罗 O
15 卡加 O
16 梅 O
17 和 O
18 乌干达 O
19 总统 O
20 约 O
21 韦里 O
22 穆塞韦尼 O
23 星期五 O
24 在 O
25 这里 O
26 开始 O
27 会谈 O
28 ， O
29 试图 O
30 弥补 O
31 他们 O
32 邻国 O
33 之间 O
34 的 O
35 恶化 O
36 的 O
37 关系 O
38 。 O

0 据 O
1 法新社 O
2 记者 O
3 报道 O
4 ， O
5 这 O
6 两个 O
7 国家元首 O
8 在 O
9 一个 O
10 帆布 O
11 遮阳篷 O
12 下 O
13 相遇 O
14 ， O
15 这个 O
16 遮阳篷 O
17 是 O
18 在 O
19 距离 O
20 加图 O
21 那 O
22 边境 O
23 哨所 O
24 几百米 O
25 （ O
26 码 O
27 ） O
28 处 O
29 设置 O
30 的 O
31 。 O

0 1999 O
1 年 O
2 ， O
3 在 O
4 两国 O
5 派遣 O
6 部队 O
7 支持 O
8 邻国 O
9 刚果民主共和国 O
10 的 O
11 反叛 O
12 运动 O
13 之后 O
14 的 O
15 一年 O
16 里 O
17 ， O
18 以前 B-AGENT
19 的 M-AGENT
20 亲密 M-AGENT
21 盟友 E-AGENT
22 垮台 S-DSE-*
23 ， O
24 当时 O
25 激烈 O
26 的 O
27 竞争 O
28 导致 O
29 他们 O
30 自己 O
31 的 O
32 军队 O
33 之间 O
34 发生 O
35 暴力 O
36 冲突 O
37 。 O

0 1999 O
1 年 O
2 ， O
3 在 O
4 两国 S-DSE-*
5 派遣 O
6 部队 O
7 支持 O
8 邻国 O
9 刚果民主共和国 O
10 的 O
11 反叛 O
12 运动 O
13 之后 O
14 的 O
15 一年 O
16 里 O
17 ， O
18 以前 O
19 的 O
20 亲密 O
21 盟友 O
22 垮台 S-TARGET
23 ， O
24 当时 O
25 激烈 O
26 的 O
27 竞争 O
28 导致 O
29 他们 O
30 自己 O
31 的 O
32 军队 O
33 之间 O
34 发生 O
35 暴力 O
36 冲突 O
37 。 O

0 1999 O
1 年 O
2 ， O
3 在 O
4 两国 O
5 派遣 O
6 部队 O
7 支持 O
8 邻国 O
9 刚果民主共和国 O
10 的 O
11 反叛 O
12 运动 O
13 之后 O
14 的 O
15 一年 O
16 里 O
17 ， O
18 以前 B-AGENT
19 的 M-AGENT
20 亲密 M-AGENT
21 盟友 E-AGENT
22 垮台 O
23 ， O
24 当时 O
25 激烈 B-DSE-*
26 的 M-DSE
27 竞争 E-DSE
28 导致 O
29 他们 O
30 自己 O
31 的 O
32 军队 O
33 之间 O
34 发生 O
35 暴力 O
36 冲突 O
37 。 O

0 1999 O
1 年 O
2 ， O
3 在 O
4 两国 O
5 派遣 O
6 部队 O
7 支持 O
8 邻国 O
9 刚果民主共和国 O
10 的 O
11 反叛 O
12 运动 O
13 之后 O
14 的 O
15 一年 O
16 里 O
17 ， O
18 以前 O
19 的 O
20 亲密 O
21 盟友 O
22 垮台 O
23 ， O
24 当时 O
25 激烈 O
26 的 O
27 竞争 O
28 导致 O
29 他们 O
30 自己 O
31 的 O
32 军队 O
33 之间 O
34 发生 O
35 暴力 O
36 冲突 O
37 。 O

0 自从 O
1 卢旺达 O
2 东北部 O
3 的 O
4 主要 O
5 城镇 O
6 基桑加尼 O
7 爆发 O
8 战斗 O
9 以来 O
10 ， O
11 穆塞韦尼 O
12 和 O
13 卡加 O
14 梅 O
15 已经 O
16 举行 O
17 过 O
18 三次 O
19 会面 O
20 ， O
21 但 O
22 没有 O
23 修复 O
24 他们 O
25 的 O
26 分歧 O
27 。 O

0 3 O
1 月 O
2 ， O
3 乌干达 S-AGENT
4 宣布 S-DSE-*
5 卢旺达 S-TARGET
6 是 O
7 一个 O
8 充满 O
9 敌意 O
10 的 O
11 国家 O
12 ， O
13 因为 O
14 在 O
15 总统 O
16 选举 O
17 中 O
18 基加利 O
19 声称 O
20 支持 O
21 穆塞韦尼 O
22 的 O
23 一个 O
24 竞争对手 O
25 。 O

0 3 O
1 月 O
2 ， O
3 乌干达 O
4 宣布 O
5 卢旺达 O
6 是 O
7 一个 O
8 充满 O
9 敌意 O
10 的 O
11 国家 O
12 ， O
13 因为 O
14 在 O
15 总统 O
16 选举 O
17 中 O
18 基加利 S-TARGET
19 声称 S-DSE-*
20 支持 O
21 穆塞韦尼 O
22 的 O
23 一个 O
24 竞争对手 O
25 。 O

0 3 O
1 月 O
2 ， O
3 乌干达 O
4 宣布 O
5 卢旺达 O
6 是 O
7 一个 O
8 充满 O
9 敌意 O
10 的 O
11 国家 O
12 ， O
13 因为 O
14 在 O
15 总统 O
16 选举 O
17 中 O
18 基加利 O
19 声称 O
20 支持 S-DSE-*
21 穆塞韦尼 B-TARGET
22 的 M-TARGET
23 一个 M-TARGET
24 竞争对手 E-TARGET
25 。 O

0 3 O
1 月 O
2 ， O
3 乌干达 O
4 宣布 O
5 卢旺达 O
6 是 O
7 一个 O
8 充满 O
9 敌意 O
10 的 O
11 国家 O
12 ， O
13 因为 O
14 在 O
15 总统 O
16 选举 O
17 中 O
18 基加利 O
19 声称 O
20 支持 O
21 穆塞韦尼 O
22 的 O
23 一个 O
24 竞争对手 O
25 。 O

0 两国 O
1 都 B-DSE-*
2 指责 E-DSE
3 对方 S-TARGET
4 支持 O
5 互相 O
6 的 O
7 反对者 O
8 。 O

0 两国 O
1 都 O
2 指责 O
3 对方 O
4 支持 S-DSE-*
5 互相 B-TARGET
6 的 M-TARGET
7 反对者 E-TARGET
8 。 O

0 两国 O
1 都 O
2 指责 O
3 对方 O
4 支持 O
5 互相 O
6 的 O
7 反对者 O
8 。 O

0 塔利班 O
1 指挥官 O
2 已为 O
3 在 O
4 阿富汗 O
5 一些 O
6 地区 O
7 发起 O
8 对 O
9 阿富汗 O
10 联合 O
11 伊斯兰 O
12 阵线 O
13 （ O
14 为 O
15 救世 O
16 ） O
17 的 O
18 位置 O
19 的 O
20 新攻势 O
21 做好 O
22 准备 O
23 。 O

0 据 O
1 阿富汗 O
2 消息人士 O
3 称 O
4 ， O
5 周二 O
6 ， O
7 昨天上午 O
8 ， O
9 高级 O
10 塔利班 O
11 指挥官 O
12 ， O
13 包括 O
14 （ O
15 内政部长 O
16 ） O
17 Mola O
18 Abdorrazaq O
19 Akhond O
20 和 O
21 Mola O
22 Abdol O
23 Qahir O
24 （ O
25 语音 O
26 ） O
27 ， O
28 参观 O
29 了 O
30 （ O
31 东北部 O
32 ） O
33 塔 O
34 哈尔 O
35 省 O
36 的 O
37 前线 O
38 。 O
